<h1>Are you Sure you Want to delete?</h1>

<form method="post">
    <input type="hidden" name="action" value="delete">
    <button type="submit" class="danger" id ="delete-button">Yes</button>
</form>